<p-toast></p-toast>

<section class="contato">
  <h2>Contato</h2>

  <form (ngSubmit)="enviarMensagem()">
    <input
      pInputText
      placeholder="Seu nome"
      [(ngModel)]="nome"
      name="nome"
      required
    />
    <input
      pInputText
      placeholder="Seu e-mail"
      [(ngModel)]="email"
      name="email"
      required
    />
    <textarea
      pInputTextarea
      placeholder="Mensagem"
      [(ngModel)]="mensagem"
      name="mensagem"
      required
    ></textarea>
    <button
      pButton
      type="submit"
      label="Enviar"
      icon="pi pi-send"
      class="p-button-info"
    ></button>
  </form>

</section>
