<section class="hero">
  <div class="marca-dagua">
    <a href="https://www.linkedin.com/in/rhamon-almeida" target="_blank" class="icone linkedin" aria-label="LinkedIn">
      <i class="pi pi-linkedin"></i>
    </a>
    <a href="https://github.com/RhamonAlmeiida" target="_blank" class="icone github" aria-label="GitHub">
      <i class="pi pi-github"></i>
    </a>
    <a href="mailto:rhamonalmeida.dev@hotmail.com" class="icone email" aria-label="E-mail">
      <i class="pi pi-envelope"></i>
    </a>
  </div>

  <div class="perfil">
    <img src="assets/tela-portfolio.jpg" alt="Rhamon Silva">
    <h1>Olá, eu sou <span>Rhamon Almeida</span></h1>
    <h2>Desenvolvedor Full Stack</h2>
    <p>Desenvolvedor Angular | API FastAPI | PYTHON</p>

    <div class="redes">
      <a href="https://www.linkedin.com/in/rhamon-almeida" target="_blank" aria-label="LinkedIn">
        <i class="pi pi-linkedin"></i>
      </a>
      <a href="https://github.com/RhamonAlmeiida" target="_blank" aria-label="GitHub">
        <i class="pi pi-github"></i>
      </a>
      <a href="mailto:rhamonalmeida.dev@hotmail.com" aria-label="E-mail">
        <i class="pi pi-envelope"></i>
      </a>
    </div>
  </div>
</section>
