<section class="habilidades">
  <h2>Habilidades</h2>
  <div class="skills">
    <div>
      <h3>Frontend</h3>
      <p>Angular</p>
      <p-progressBar value="90"></p-progressBar>
      <p>PrimeNG</p>
      <p-progressBar value="85"></p-progressBar>
    </div>

    <div>
      <h3>Backend</h3>
      <p>FastAPI</p>
      <p-progressBar value="88"></p-progressBar>
      <p>SQLAlchemy</p>
      <p-progressBar value="80"></p-progressBar>
    </div>

    <div>
      <h3>Outros</h3>
      <p>Git</p>
      <p-progressBar value="90"></p-progressBar>
      <p>Docker</p>
      <p-progressBar value="70"></p-progressBar>
    </div>
  </div>
</section>
