body {
   background: radial-gradient(circle at top, #021a3b, #000814);
  color: #e0f7ff;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

section {
  //margin: 3rem auto;
  padding: 2rem;
  //max-width: 900px;
  //background: rgba(8, 17, 35, 0.85);
  //border-radius: 16px;
  box-shadow: 0 0 15px rgba(5, 65, 65, 0.295);
  //border: 1px solid rgba(0, 255, 255, 0.2);
}

h2, h3 {
  color: #00e6ff;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
}

button {
  margin: 0.5rem;
}

.perfil {
  text-align: center;
}

.perfil img {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(7, 211, 211, 0.89);
  margin-bottom: 1rem;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.redes {
  text-align: center;
  margin-top: 1rem;
}

.redes i {
  font-size: 1.5rem;
  margin: 0 10px;
  color: #00e6ff;
  transition: 0.3s;
}

.redes i:hover {
  color: #00aaff;
  transform: scale(1.2);
}
